.TopButton_top-button__4s0dE {
    position: fixed;
    display: inline-block;
    bottom: 50px;
    right: 23px;
    width: 68px;
    height: 68px;
    background: url(/30th/event/body/btn_top.png) no-repeat 50%/cover;
    z-index: 50;
    text-indent: -9999px
}

.pc .TopButton_top-button__4s0dE:hover {
    background-image: url(/30th/event/body/btn_top_hover.png)
}

@media(max-width:1280px) {
    .TopButton_top-button__4s0dE {
        width: 50px;
        height: 50px;
        bottom: 20px
    }
}

.CoinMaintenance_maintenance-bg__LLcG_ {
    position: relative;
    display: flex;
    justify-content: center;
    width: 600px;
    height: 500px;
    background: url(/30th/event/modal/maintenance/pc/maintenance-popup.jpg) no-repeat 50%/contain
}

@media(max-width:1280px) {
    .CoinMaintenance_maintenance-bg__LLcG_ {
        width: 340px;
        height: 389px;
        background: url(/30th/event/modal/maintenance/mo/maintenance-popup.jpg) no-repeat 50%/contain
    }
}

.CoinMaintenance_maintenance-close-button__QYyMu {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 24px;
    right: 24px
}

@media(max-width:1280px) {
    .CoinMaintenance_maintenance-close-button__QYyMu {
        width: 31px;
        height: 31px;
        top: 14px;
        right: 14px
    }
}

.CoinMaintenance_maintenance-notice__yj3L0 {
    display: block;
    position: absolute;
    top: 378px;
    left: 239px;
    width: 56px;
    height: 24px
}

@media(max-width:1280px) {
    .CoinMaintenance_maintenance-notice__yj3L0 {
        top: 293px;
        left: 114px;
        width: 53px;
        height: 24px
    }
}

.CoinMaintenance_maintenance-not-today-button__eWnRw {
    position: absolute;
    width: 167px;
    height: 24px;
    bottom: 32px
}

@media(max-width:1280px) {
    .CoinMaintenance_maintenance-not-today-button__eWnRw {
        width: 156px;
        bottom: 20px
    }
}

.CoinMaintenance_maintenance-not-today-check__Jva39 {
    position: absolute;
    left: 3px;
    top: 6px;
    display: inline-block;
    width: 16px;
    height: 12px;
    background: url(/30th/event/modal/maintenance/pc/maintenance-check.svg) no-repeat 50%/contain
}

@media(max-width:1280px) {
    .Main_mobile-block__FHEwC {
        display: block
    }
}

.Main_event-section__v7Wk7 {
    min-height: calc(100vh - 63px);
    background-color: #000
}

.Main_event-section-header__9sDq7 {
    position: relative;
    background-color: rgba(0, 0, 0, .87);
    color: #fff
}

@keyframes Main_FadeIn__J1rQG {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.Main_background-video__h_uHT {
    position: absolute;
    width: 100%;
    height: calc(100vh - 63px - 100px);
    object-fit: cover;
    opacity: 0
}

.Main_video-fadein__tWVEU {
    animation-name: Main_FadeIn__J1rQG;
    animation-duration: 4s;
    animation-fill-mode: forwards
}

.Main_nexon-name__qAk_z {
    color: #00b3ff
}

.Main_main-game-card-wrapper__J4ZW9 {
    position: relative;
    width: 360px;
    height: 360px
}

@media(max-width:1280px) {
    .Main_main-game-card-wrapper__J4ZW9 {
        width: 200px;
        height: 200px
    }
}

.Main_main-header-section__DJvSn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 63px - 98px);
    min-height: 830px
}

@media(max-width:1280px) {
    .Main_main-header-section__DJvSn {
        height: calc(100vh - 63px - 74px);
        min-height: 530px
    }
}

.Main_main-header-icon__7X0zQ {
    background-image: url(/30th/event/header/30th.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 37px;
    left: 47px;
    width: 122px;
    height: 122px
}

@media(max-width:1280px) {
    .Main_main-header-icon__7X0zQ {
        width: 50px;
        height: 50px
    }
}

.Main_main-header-banners__k8Qyy {
    position: absolute;
    top: 338px;
    left: 44px
}

@media(max-width:1280px) {
    .Main_main-header-banners__k8Qyy {
        left: auto;
        right: 0;
        top: 30px
    }
}

.Main_main-header-banner-hyundaicard__4nuEG {
    display: block;
    width: 217px;
    height: 232px;
    background: url(/30th/common/pc/banner_hyundaicard.png) no-repeat 50%/cover
}

@media(max-width:1280px) {
    .Main_main-header-banner-hyundaicard__4nuEG {
        width: 114px;
        height: 34px;
        background: url(/30th/common/mo/banner_hyundaicard.png) no-repeat 50%/cover;
        margin-bottom: 9px
    }
}

.Main_main-header-banner-nexonplay__ZLE2M {
    display: block;
    width: 217px;
    height: 232px;
    background: url(/30th/common/pc/banner_nexonplay.png) no-repeat 50%/cover
}

@media(max-width:1280px) {
    .Main_main-header-banner-nexonplay__ZLE2M {
        width: 114px;
        height: 34px;
        background: url(/30th/common/mo/banner_nexonplay.png) no-repeat 50%/cover
    }
}

.Main_main-catchphrase__ApXeQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800
}

@keyframes Main_FadeInWithUp__e_BzM {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.Main_call-nexon-user-name__DO7Dc {
    font-size: 26px;
    opacity: 0;
    animation-name: Main_FadeInWithUp__e_BzM;
    animation-delay: 1.2s;
    animation-duration: .5s;
    animation-fill-mode: forwards
}

@media(max-width:1280px) {
    .Main_call-nexon-user-name__DO7Dc {
        font-size: 16px
    }
}

.Main_main-header-event-period__dp_b4 {
    background-image: url(/30th/event/header/30th_day02.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 16px;
    width: 575px;
    height: 41px;
    opacity: 0;
    animation-name: Main_FadeInWithUp__e_BzM;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-fill-mode: forwards
}

@media(max-width:1280px) {
    .Main_main-header-event-period__dp_b4 {
        background-image: url(/30th/event/header/mo/MO_30th_day.svg);
        width: 264px;
        height: 45px
    }
}

.Main_main-catchphrase-body__ihtJx {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation-name: Main_FadeInWithUp__e_BzM;
    animation-delay: 3.8s;
    animation-duration: 1s;
    animation-fill-mode: forwards
}

.Main_main-catchphrase-point-image__fYfMm {
    visibility: hidden;
    background-image: url(/30th/event/header/NEXON.30TH_TITLE_.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 738px;
    height: 126px;
    margin-bottom: 23px
}

.Main_main-catchphrase-point-image__fYfMm.Main_anim-start__ZG_KG {
    visibility: visible
}

@media(max-width:1280px) {
    .Main_main-catchphrase-point-image__fYfMm {
        width: 340px;
        height: 58px
    }
}

.Main_main-catchphrase-title___bTEE {
    font-size: 19px;
    line-height: 29px
}

@media(max-width:1280px) {
    .Main_main-catchphrase-title___bTEE {
        font-size: 12px;
        line-height: 28px
    }
}

.Main_main-catchphrase-description__uCt0S {
    font-size: 19px;
    font-weight: 400;
    line-height: normal;
    color: #c5c5c5
}

@media(max-width:1280px) {
    .Main_main-catchphrase-description__uCt0S {
        font-size: 12px;
        line-height: 16px
    }
}

.Main_event-period-container__DDppC {
    display: flex;
    margin-top: 20px
}

.Main_event-badge__a1oCx {
    display: flex;
    align-items: center;
    color: #cdcdcd;
    background-color: #3165c6;
    padding: 5px;
    border-radius: 50px;
    margin-right: 24px
}

.Main_event-period__Vu_cw {
    font-weight: 400;
    font-size: 28px
}

.Main_event-gnb-list__Bx4Ix {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 98px;
    border-top: 2px solid #474747;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    z-index: 50
}

.Main_event-gnb-list__Bx4Ix:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/30th/event/header/background-pattern.png) 0 0/110px 110px;
    opacity: .12;
    z-index: -1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none
}

@media(max-width:1280px) {
    .Main_event-gnb-list__Bx4Ix {
        height: 64px;
        overflow: hidden
    }
    .Main_event-gnb-list__Bx4Ix:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(/30th/event/header/background-pattern.png) 0 0/55px 55px;
        opacity: .15;
        z-index: -1;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        pointer-events: none
    }
}

.Main_gnb-tab-relayevent__R7npF {
    display: block;
    background-image: url(/30th/event/header/30th-gnb-tab-relayevent.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 285px;
    height: 56px
}

.pc .Main_gnb-tab-relayevent__R7npF:hover:not(.Main_on__LtdzB) {
    background-image: url(/30th/event/header/30th-gnb-tab-relayevent-hover.svg)
}

.Main_gnb-tab-relayevent__R7npF.Main_on__LtdzB {
    background-image: url(/30th/event/header/30th-gnb-tab-relayevent-on.svg)
}

@media(max-width:1280px) {
    .Main_gnb-tab-relayevent__R7npF {
        width: 129px;
        height: 46px
    }
    .Main_gnb-tab-relayevent__R7npF,
    .pc .Main_gnb-tab-relayevent__R7npF:hover:not(.Main_on__LtdzB) {
        background-image: url(/30th/event/header/mo/30th-gnb-tab-relayevent.svg)
    }
    .Main_gnb-tab-relayevent__R7npF.Main_on__LtdzB {
        background-image: url(/30th/event/header/mo/30th-gnb-tab-relayevent-on.svg)
    }
}

.Main_gnb-tab-cash___XZW_ {
    display: block;
    background-image: url(/30th/event/header/30th-gnb-tab-cash.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 269px;
    height: 56px
}

.pc .Main_gnb-tab-cash___XZW_:hover:not(.Main_on__LtdzB) {
    background-image: url(/30th/event/header/30th-gnb-tab-cash-hover.svg)
}

.Main_gnb-tab-cash___XZW_.Main_on__LtdzB {
    background-image: url(/30th/event/header/30th-gnb-tab-cash-on.svg)
}

@media(max-width:1280px) {
    .Main_gnb-tab-cash___XZW_ {
        width: 129px;
        height: 46px
    }
    .Main_gnb-tab-cash___XZW_,
    .pc .Main_gnb-tab-cash___XZW_:hover:not(.Main_on__LtdzB) {
        background-image: url(/30th/event/header/mo/30th-gnb-tab-cash.svg)
    }
    .Main_gnb-tab-cash___XZW_.Main_on__LtdzB {
        background-image: url(/30th/event/header/mo/30th-gnb-tab-cash-on.svg)
    }
}

.Main_gnb-tab-avatar__eJEyQ {
    display: block;
    background-image: url(/30th/event/header/30th-gnb-tab-avatar.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 285px;
    height: 56px
}

.pc .Main_gnb-tab-avatar__eJEyQ:hover:not(.Main_on__LtdzB) {
    background-image: url(/30th/event/header/30th-gnb-tab-avatar-hover.svg)
}

.Main_gnb-tab-avatar__eJEyQ.Main_on__LtdzB {
    background-image: url(/30th/event/header/30th-gnb-tab-avatar-on.svg)
}

@media(max-width:1280px) {
    .Main_gnb-tab-avatar__eJEyQ {
        width: 129px;
        height: 46px
    }
    .Main_gnb-tab-avatar__eJEyQ,
    .pc .Main_gnb-tab-avatar__eJEyQ:hover:not(.Main_on__LtdzB) {
        background-image: url(/30th/event/header/mo/30th-gnb-tab-avatar.svg)
    }
    .Main_gnb-tab-avatar__eJEyQ.Main_on__LtdzB {
        background-image: url(/30th/event/header/mo/30th-gnb-tab-avatar-on.svg)
    }
}

.Main_gnb-tab-comingsoon__ZDUjI {
    display: block;
    background-image: url(/30th/event/header/30th-gnb-tab-comingsoon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 269px;
    height: 56px
}

@media(max-width:1280px) {
    .Main_gnb-tab-comingsoon__ZDUjI {
        background-image: url(/30th/event/header/mo/30th-gnb-tab-comingsoon.svg);
        width: 89px;
        height: 56px
    }
}

.Main_event-gnb-list-item__1WfOq {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #636363
}

.Main_event-gnb-list-item__1WfOq.Main_on__LtdzB {
    color: #fff
}

.Main_event-gnb-list-item__1WfOq+.Main_event-gnb-list-item__1WfOq:before {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1px;
    height: 33px;
    margin-left: 39px;
    margin-right: 39px;
    background-color: #474747
}

@media(max-width:1280px) {
    .Main_event-gnb-list-item__1WfOq+.Main_event-gnb-list-item__1WfOq:before {
        content: none
    }
}

.Main_event-footer__l0QWD {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 30px 0
}

@media(max-width:1280px) {
    .Main_event-footer__l0QWD {
        padding-top: 21.5px;
        padding-bottom: 28.5px
    }
}

.Main_event-footer-container__HiuG9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

@media(max-width:1280px) {
    .Main_event-footer-container__HiuG9 {
        max-width: 355px
    }
}

.Main_copyright-container__osRam {
    display: flex;
    justify-content: center
}

@media(max-width:1280px) {
    .Main_copyright-container__osRam {
        display: flex;
        align-items: center;
        flex-direction: column-reverse
    }
}

.Main_copyright__QQm9y {
    font-family: NotoSansKR, sans-serif;
    font-size: 16px;
    line-height: 25.6px;
    color: #bababa;
    margin-left: 30px;
    letter-spacing: .1px;
    margin-top: -4px
}

@media(max-width:1280px) {
    .Main_copyright__QQm9y {
        font-size: 12px;
        line-height: 19.2px;
        margin-bottom: 6px;
        margin-left: 0
    }
}

.Main_nexon-logo__0YDKf {
    background-image: url(/30th/event/footer/logo-nexon.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 89px;
    height: 25px
}