@media(max-width:1280px) {
    .C_AvatarEvent_mobile-block__D35XD {
        display: block
    }
}

.C_AvatarEvent_avatar-event-container__6WJwV {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden
}

.C_AvatarEvent_anchor__tyrwR {
    display: inline-block;
    position: relative;
    text-indent: -9999px;
    width: 101px;
    background-repeat: no-repeat;
    background-size: contain
}

@media(max-width:1280px) {
    .C_AvatarEvent_anchor__tyrwR {
        width: 83px
    }
}

.C_AvatarEvent_anchor__tyrwR:first-child {
    height: 46px;
    background-image: url(/30th/avatar/webmain/a.top/pc/floating-menu/avatar-maker.svg)
}

@media(max-width:1280px) {
    .C_AvatarEvent_anchor__tyrwR:first-child {
        height: 40px;
        background-image: url(/30th/avatar/webmain/a.top/mo/floating-menu/avatar-maker.svg)
    }
}

.C_AvatarEvent_anchor__tyrwR:first-child.C_AvatarEvent_on__GUgj2,
.C_AvatarEvent_anchor__tyrwR:first-child:hover {
    background-image: url(/30th/avatar/webmain/a.top/pc/floating-menu/avatar-maker-hover.svg)
}

@media(max-width:1280px) {
    .C_AvatarEvent_anchor__tyrwR:first-child.C_AvatarEvent_on__GUgj2,
    .C_AvatarEvent_anchor__tyrwR:first-child:hover {
        background-image: url(/30th/avatar/webmain/a.top/mo/floating-menu/avatar-maker-hover.svg)
    }
}

.C_AvatarEvent_anchor__tyrwR:nth-child(2) {
    height: 68px;
    background-image: url(/30th/avatar/webmain/a.top/pc/floating-menu/best-dresser.svg)
}

@media(max-width:1280px) {
    .C_AvatarEvent_anchor__tyrwR:nth-child(2) {
        height: 58px;
        background-image: url(/30th/avatar/webmain/a.top/mo/floating-menu/best-dresser.svg)
    }
}

.C_AvatarEvent_anchor__tyrwR:nth-child(2).C_AvatarEvent_on__GUgj2,
.C_AvatarEvent_anchor__tyrwR:nth-child(2):hover {
    background-image: url(/30th/avatar/webmain/a.top/pc/floating-menu/best-dresser-hover.svg)
}

@media(max-width:1280px) {
    .C_AvatarEvent_anchor__tyrwR:nth-child(2).C_AvatarEvent_on__GUgj2,
    .C_AvatarEvent_anchor__tyrwR:nth-child(2):hover {
        background-image: url(/30th/avatar/webmain/a.top/mo/floating-menu/best-dresser-hover.svg)
    }
}

.C_AvatarEvent_anchor__tyrwR:nth-child(3) {
    height: 46px;
    background-image: url(/30th/avatar/webmain/a.top/pc/floating-menu/hall-of-fame.svg)
}

@media(max-width:1280px) {
    .C_AvatarEvent_anchor__tyrwR:nth-child(3) {
        height: 38px;
        background-image: url(/30th/avatar/webmain/a.top/mo/floating-menu/hall-of-fame.svg)
    }
}

.C_AvatarEvent_anchor__tyrwR:nth-child(3).C_AvatarEvent_on__GUgj2,
.C_AvatarEvent_anchor__tyrwR:nth-child(3):hover {
    background-image: url(/30th/avatar/webmain/a.top/pc/floating-menu/hall-of-fame-hover.svg)
}

@media(max-width:1280px) {
    .C_AvatarEvent_anchor__tyrwR:nth-child(3).C_AvatarEvent_on__GUgj2,
    .C_AvatarEvent_anchor__tyrwR:nth-child(3):hover {
        background-image: url(/30th/avatar/webmain/a.top/mo/floating-menu/hall-of-fame-hover.svg)
    }
}

.C_AvatarEvent_avatar-main-section__kPLkq {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2560px;
    height: 1015px;
    background-image: url(/30th/avatar/webmain/a.top/pc/bg-1.jpg);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-main-section__kPLkq {
        width: 1280px;
        height: 571px;
        background-image: url(/30th/avatar/webmain/a.top/mo/bg-1.jpg)
    }
}

.C_AvatarEvent_avatar-main-container__4PmYO {
    display: flex;
    flex-direction: column;
    align-items: center
}

.C_AvatarEvent_avatar-main-title__RazJE {
    position: relative;
    margin-top: 112px;
    width: 798px;
    height: 399px;
    background-image: url(/30th/avatar/webmain/a.top/pc/title.png);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-main-title__RazJE {
        margin-top: 102px;
        width: 353px;
        height: 199px;
        background: url(/30th/avatar/webmain/a.top/mo/title.png) no-repeat 50%/cover
    }
}

@keyframes C_AvatarEvent_twinkle__Y2Ix6 {
    0% {
        scale: 1
    }
    to {
        scale: 1.8
    }
}

.C_AvatarEvent_avatar-main-title-star-1__NVCSW {
    position: absolute;
    width: 68.4px;
    height: 76px;
    top: 22px;
    left: 170px;
    background: url(/30th/avatar/webmain/a.top/pc/star_1.png) no-repeat 50%/cover;
    animation: C_AvatarEvent_twinkle__Y2Ix6 .5s ease-in-out infinite alternate;
    animation-delay: .2s
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-main-title-star-1__NVCSW {
        width: 30.472px;
        height: 33.858px;
        top: 10px;
        left: 72px
    }
}

.C_AvatarEvent_avatar-main-title-star-2__tO5nu {
    position: absolute;
    width: 52.2px;
    height: 58px;
    top: 261px;
    left: 8px;
    background: url(/30th/avatar/webmain/a.top/pc/star_2.png) no-repeat 50%/cover;
    animation: C_AvatarEvent_twinkle__Y2Ix6 .5s ease-in-out infinite alternate
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-main-title-star-2__tO5nu {
        width: 23.255px;
        height: 25.839px;
        top: 116px;
        left: .42px
    }
}

.C_AvatarEvent_avatar-main-title-star-3__x01Hq {
    position: absolute;
    width: 42.2px;
    height: 46.89px;
    top: 173px;
    right: 0;
    background: url(/30th/avatar/webmain/a.top/pc/star_3.png) no-repeat 50%/cover;
    animation: C_AvatarEvent_twinkle__Y2Ix6 .5s ease-in-out infinite alternate;
    animation-delay: .3s
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-main-title-star-3__x01Hq {
        width: 18.8px;
        height: 20.889px;
        top: 77.24px;
        right: .5
    }
}

.C_AvatarEvent_avatar-main-qplay-ui__2BKYr {
    margin-top: 32px;
    width: 742px;
    height: 397px;
    background-image: url(/30th/avatar/webmain/a.top/pc/QplayUI.png);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-main-qplay-ui__2BKYr {
        display: none
    }
}

.C_AvatarEvent_avatar-main-character-01__KKFbz {
    position: absolute;
    bottom: 0;
    left: 816px;
    background-image: url(/30th/avatar/webmain/a.top/pc/main-ch-01.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 207px;
    height: 276px
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-main-character-01__KKFbz {
        left: 530px;
        background-image: url(/30th/avatar/webmain/a.top/mo/main-ch-01.png);
        width: 93px;
        height: 124px
    }
}

.C_AvatarEvent_avatar-main-character-02__AC3v8 {
    position: absolute;
    bottom: 0;
    background-image: url(/30th/avatar/webmain/a.top/pc/main-ch-02.png);
    background-size: cover;
    background-repeat: no-repeat;
    right: 816px;
    width: 207px;
    height: 255px
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-main-character-02__AC3v8 {
        right: 530px;
        background-image: url(/30th/avatar/webmain/a.top/mo/main-ch-02.png);
        width: 94px;
        height: 115px
    }
}

@keyframes C_AvatarEvent_malpoongsun-up__iOoS5 {
    0% {
        transform: translateY(50px);
        opacity: 0
    }
    to {
        transform: translateY(0);
        opacity: 1
    }
}

.C_AvatarEvent_avatar-main-textbox-01__XqZIy {
    position: absolute;
    background-image: url(/30th/avatar/webmain/a.top/pc/textbox-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    width: 260px;
    height: 230px;
    bottom: 255px;
    left: 641px;
    opacity: 0;
    animation-name: C_AvatarEvent_malpoongsun-up__iOoS5;
    animation-duration: .5s;
    animation-delay: .6s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-main-textbox-01__XqZIy {
        bottom: 64px;
        left: 460px;
        background-image: url(/30th/avatar/webmain/a.top/mo/textbox-1.png);
        width: 130px;
        height: 115px
    }
}

.C_AvatarEvent_avatar-main-textbox-02__1hggT {
    position: absolute;
    background-image: url(/30th/avatar/webmain/a.top/pc/textbox-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    bottom: 108px;
    left: 588px;
    opacity: 0;
    animation-name: C_AvatarEvent_malpoongsun-up__iOoS5;
    animation-duration: .5s;
    animation-delay: 0;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1.2s
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-main-textbox-02__1hggT {
        bottom: 136.5px;
        left: 544.5px;
        background-image: url(/30th/avatar/webmain/a.top/mo/textbox-2.png);
        width: 100px;
        height: 100px
    }
}

.C_AvatarEvent_avatar-main-textbox-03__d_qth {
    position: absolute;
    background-image: url(/30th/avatar/webmain/a.top/pc/textbox-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    bottom: 222px;
    right: 643px;
    opacity: 0;
    animation-name: C_AvatarEvent_malpoongsun-up__iOoS5;
    animation-duration: .5s;
    animation-delay: 0;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: .3s
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-main-textbox-03__d_qth {
        bottom: 112.5px;
        right: 499.5px;
        background-image: url(/30th/avatar/webmain/a.top/mo/textbox-3.png);
        width: 120px;
        height: 120px
    }
}

.C_AvatarEvent_avatar-main-textbox-04__Bl_Et {
    position: absolute;
    background-image: url(/30th/avatar/webmain/a.top/pc/textbox-4.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    bottom: 118px;
    right: 549px;
    opacity: 0;
    animation-name: C_AvatarEvent_malpoongsun-up__iOoS5;
    animation-duration: .5s;
    animation-delay: 0;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: .6s
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-main-textbox-04__Bl_Et {
        bottom: 66.5px;
        right: 462.5px;
        background-image: url(/30th/avatar/webmain/a.top/mo/textbox-4.png);
        width: 85px;
        height: 85px
    }
}

.C_AvatarEvent_avatar-main-textbox-05__Is21S {
    position: absolute;
    background-image: url(/30th/avatar/webmain/a.top/pc/textbox-5.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    bottom: 364px;
    right: 523px;
    opacity: 0;
    animation-name: C_AvatarEvent_malpoongsun-up__iOoS5;
    animation-duration: .5s;
    animation-delay: .9s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-main-textbox-05__Is21S {
        display: none
    }
}

.C_AvatarEvent_avatar-maker-section__S0Aiz {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2560px;
    height: 1732px;
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-maker-section__S0Aiz {
        width: 1280px;
        height: 1214px;
        background-image: url(/30th/avatar/webmain/b.avatar-maker/mo/bg-2.jpg)
    }
}

@keyframes C_AvatarEvent_rolling-banner__1Ytf3 {
    to {
        transform: translate3d(-25%, 0, 0)
    }
}

.C_AvatarEvent_avatar-maker-event-line-container__2xboT {
    display: flex;
    position: absolute;
    top: 0;
    animation-name: C_AvatarEvent_rolling-banner__1Ytf3;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}

.C_AvatarEvent_avatar-maker-event-line__K1AkZ {
    width: 2704px;
    height: 77px;
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/event-line.png);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-maker-event-line__K1AkZ {
        width: 1106px;
        height: 38px;
        background-image: url(/30th/avatar/webmain/b.avatar-maker/mo/event-line.png)
    }
}

.C_AvatarEvent_avatar-maker-container__s14sO {
    display: flex;
    flex-direction: column;
    align-items: center
}

.C_AvatarEvent_avatar-maker-title__G7Gm6 {
    margin-top: 199px;
    width: 435px;
    height: 228px;
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/title-01.png);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-maker-title__G7Gm6 {
        margin-top: 71px;
        width: 290px;
        height: 114px;
        background-image: url(/30th/avatar/webmain/b.avatar-maker/mo/title-01.png)
    }
}

.C_AvatarEvent_avatar-maker-notice__0CSKF {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 500;
    color: #557fbc
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-maker-notice__0CSKF {
        margin-top: 8px;
        font-size: 12px;
        line-height: 15px;
        text-align: center
    }
}

.C_AvatarEvent_avatar-maker-qplay-ui__YXrXr {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 18px;
    width: 1079px;
    height: 699px;
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/QplayUI.png);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-maker-qplay-ui__YXrXr {
        margin-top: 24px;
        width: 340px;
        height: 554px;
        background-image: url(/30th/avatar/webmain/b.avatar-maker/mo/QplayUI.png)
    }
}

.C_AvatarEvent_avatar-ui-wrapper__rOfIM {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 107px 67px 180px
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-ui-wrapper__rOfIM {
        padding: 33px 12px 12px
    }
}

.C_AvatarEvent_avatar-ui-container__EjFUt {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 24px 33px;
    box-sizing: border-box
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-ui-container__EjFUt {
        flex-direction: column;
        padding: 0;
        height: 509px
    }
}

.C_AvatarEvent_avatar-ui-my-avatar__21uAg {
    width: 263px;
    height: 364px;
    margin-right: 24px;
    padding: 48px 16px 16px;
    box-sizing: border-box
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-ui-my-avatar__21uAg {
        width: 100%;
        height: auto;
        margin-right: 0;
        padding: 16px 65px
    }
}

.C_AvatarEvent_canvas-container__hV703,
.C_AvatarEvent_canvas-container__hV703 canvas {
    width: 100%;
    height: 100%
}

.C_AvatarEvent_avatar-ui-wearing-items-wrapper__wOiIz {
    width: 592px;
    height: 364px;
    padding: 48px 16px 16px;
    box-sizing: border-box
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-ui-wearing-items-wrapper__wOiIz {
        width: 100%;
        height: 100%;
        padding: 33px 0 0;
        margin-top: 27px
    }
}

.C_AvatarEvent_avatar-ui-wearing-items__EJHE9 {
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-ui-wearing-items__EJHE9 {
        width: 100%;
        height: 100%;
        padding: 9px 6px 0
    }
}

.C_AvatarEvent_wearing-item-slot___xFTg {
    padding: 12px;
    width: 116px;
    height: 126px;
    box-sizing: border-box;
    margin-right: 16px;
    margin-bottom: 16px
}

.C_AvatarEvent_wearing-item-slot___xFTg:nth-child(4n) {
    margin-right: 0
}

@media(max-width:1280px) {
    .C_AvatarEvent_wearing-item-slot___xFTg {
        width: 70px;
        height: 75px;
        padding: 8px;
        margin-right: 8px;
        margin-bottom: 8px
    }
    .C_AvatarEvent_wearing-item-slot___xFTg:nth-child(4n) {
        margin-right: 0
    }
}

.C_AvatarEvent_wearing-item-image-container__Q7Vy9,
.C_AvatarEvent_wearing-item-image__DcfcK {
    width: 100%;
    height: 100%
}

.C_AvatarEvent_avatar-maker-default-avatar__yQt4C {
    position: absolute;
    top: 179px;
    left: 116px;
    width: 231px;
    height: 300px
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-maker-default-avatar__yQt4C {
        top: 50px;
        left: 77px;
        width: 186px;
        height: 241px
    }
}

.C_AvatarEvent_goto-avatar-maker-button__Ujp_o {
    position: absolute;
    top: 1010px;
    width: 445px;
    height: 100px;
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/avatar-maker-button.png);
    background-size: contain;
    background-repeat: no-repeat
}

.pc .C_AvatarEvent_goto-avatar-maker-button__Ujp_o:hover {
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/avatar-maker-button-hover.png)
}

@media(max-width:1280px) {
    .C_AvatarEvent_goto-avatar-maker-button__Ujp_o {
        position: static;
        margin-top: 16px;
        width: 242px;
        height: 55px;
        background-image: url(/30th/avatar/webmain/b.avatar-maker/mo/avatar-maker-button.png)
    }
    .pc .C_AvatarEvent_goto-avatar-maker-button__Ujp_o:hover {
        background-image: url(/30th/avatar/webmain/b.avatar-maker/mo/avatar-maker-button-hover.png)
    }
}

.C_AvatarEvent_edit-avatar-button__Bvbsi {
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/btn-edit-avatar.png)
}

.pc .C_AvatarEvent_edit-avatar-button__Bvbsi:hover {
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/btn-edit-avatar-hover.png)
}

@media(max-width:1280px) {
    .C_AvatarEvent_edit-avatar-button__Bvbsi {
        background-image: url(/30th/avatar/webmain/b.avatar-maker/mo/btn-edit-avatar.png)
    }
    .pc .C_AvatarEvent_edit-avatar-button__Bvbsi:hover {
        background-image: url(/30th/avatar/webmain/b.avatar-maker/mo/btn-edit-avatar-hover.png)
    }
}

.C_AvatarEvent_avatar-maker-character-group__lrJ56 {
    margin-top: 14px;
    width: 2560px;
    height: 551px;
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/character-group.png);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-maker-character-group__lrJ56 {
        margin-top: 67px;
        width: 1280px;
        height: 275px;
        background-image: url(/30th/avatar/webmain/b.avatar-maker/mo/character-group.png)
    }
}

@keyframes C_AvatarEvent_doongdoong-balloon-01__UXH0v {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-60px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes C_AvatarEvent_doongdoong-balloon-02__ra_20 {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-50px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes C_AvatarEvent_doongdoong-balloon-03__uZL0n {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(30px)
    }
    to {
        transform: translateY(0)
    }
}

.C_AvatarEvent_avatar-maker-balloon-01__Q5L_j {
    position: absolute;
    top: 548px;
    left: 522px;
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/img-01.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 112px;
    height: 144px;
    animation-name: C_AvatarEvent_doongdoong-balloon-01__UXH0v;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-maker-balloon-01__Q5L_j {
        display: none
    }
}

.C_AvatarEvent_avatar-maker-balloon-02__SeLnS {
    position: absolute;
    top: 356px;
    right: 455px;
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/img-02.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 188px;
    height: 244px;
    animation-name: C_AvatarEvent_doongdoong-balloon-02__ra_20;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-maker-balloon-02__SeLnS {
        display: none
    }
}

.C_AvatarEvent_avatar-maker-balloon-03__Va2kf {
    position: absolute;
    top: 620px;
    right: 667px;
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/img-03.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 65px;
    height: 84px;
    animation-name: C_AvatarEvent_doongdoong-balloon-03__uZL0n;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-maker-balloon-03__Va2kf {
        display: none
    }
}

@keyframes C_AvatarEvent_show-malpoonsun__fcQDc {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.C_AvatarEvent_avatar-maker-textbox-01__W_JRt {
    position: absolute;
    bottom: 406px;
    left: 463px;
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/textbox-01.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 269px;
    height: 228px;
    opacity: 0;
    animation-name: C_AvatarEvent_show-malpoonsun__fcQDc;
    animation-duration: 5s;
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: step-start
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-maker-textbox-01__W_JRt {
        left: 510px;
        bottom: 184px;
        width: 134px;
        height: 114px;
        background-image: url(/30th/avatar/webmain/b.avatar-maker/mo/textbox-01.png)
    }
}

.C_AvatarEvent_avatar-maker-textbox-02__vjMNT {
    position: absolute;
    bottom: 340px;
    left: 1037px;
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/textbox-02.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 224px;
    height: 188px;
    opacity: 0;
    animation-name: C_AvatarEvent_show-malpoonsun__fcQDc;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: step-start
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-maker-textbox-02__vjMNT {
        display: none
    }
}

.C_AvatarEvent_avatar-maker-textbox-03__ydX_i {
    position: absolute;
    bottom: 492px;
    right: 356px;
    background-image: url(/30th/avatar/webmain/b.avatar-maker/pc/textbox-03.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 307px;
    height: 228px;
    opacity: 0;
    animation-name: C_AvatarEvent_show-malpoonsun__fcQDc;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: step-start
}

@media(max-width:1280px) {
    .C_AvatarEvent_avatar-maker-textbox-03__ydX_i {
        display: none
    }
}

.C_AvatarEvent_contest-section___JuD_ {
    position: relative;
    display: flex;
    justify-content: center;
    width: 2560px;
    background-color: #ffe072;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/bg-tile.png);
    background-size: 160px 160px;
    background-repeat: repeat;
    padding-bottom: 200px
}

.C_AvatarEvent_contest-section___JuD_:before {
    position: absolute;
    top: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 33px;
    background: url(/30th/avatar/webmain/c.avatar-contest/pc/contest-belt.png) repeat 50%/contain;
    mix-blend-mode: overlay
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-section___JuD_:before {
        height: 16.5px
    }
}

.C_AvatarEvent_contest-section___JuD_:after {
    position: absolute;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 33px;
    background: url(/30th/avatar/webmain/c.avatar-contest/pc/contest-belt.png) repeat 50%/contain;
    mix-blend-mode: overlay
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-section___JuD_:after {
        height: 16.5px
    }
    .C_AvatarEvent_contest-section___JuD_ {
        width: 1280px;
        background-size: 80px 80px;
        padding-bottom: 97px
    }
}

.C_AvatarEvent_no-current-avatar__g3Amr {
    height: 3404px
}

@media(max-width:1280px) {
    .C_AvatarEvent_no-current-avatar__g3Amr {
        height: 2336px
    }
}

.C_AvatarEvent_contest-container__B5dAl {
    display: flex;
    flex-direction: column;
    align-items: center
}

.C_AvatarEvent_contest-container__B5dAl:before {
    content: "";
    position: absolute;
    top: 33px;
    display: inline-block;
    width: 2020px;
    height: 1143px;
    margin-right: 44px;
    background: url(/30th/avatar/webmain/c.avatar-contest/pc/lamp.png) repeat 50%/contain
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-container__B5dAl:before {
        top: 16px;
        width: 808px;
        height: 457.2px;
        margin-right: 16px;
        background-image: url(/30th/avatar/webmain/c.avatar-contest/mo/lamp.png)
    }
}

.C_AvatarEvent_contest-title__Vflke {
    position: relative;
    margin-top: 214px;
    width: 830px;
    height: 431px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/event-title.png);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-title__Vflke {
        margin-top: 89px;
        width: 334px;
        height: 392px;
        background-image: url(/30th/avatar/webmain/c.avatar-contest/mo/event-title.png)
    }
}

@keyframes C_AvatarEvent_doongdoong-item__a7Fer {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(30px)
    }
    to {
        transform: translateY(0)
    }
}

.C_AvatarEvent_contest-item-01__6Wr10 {
    position: absolute;
    top: 743px;
    left: 394px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/item-01.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 210px;
    height: 210px;
    animation-name: C_AvatarEvent_doongdoong-item__a7Fer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-item-01__6Wr10 {
        display: none
    }
}

.C_AvatarEvent_contest-item-02__iI2Ve {
    position: absolute;
    top: 343px;
    left: 443px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/item-02.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 280px;
    height: 280px;
    animation-name: C_AvatarEvent_doongdoong-item__a7Fer;
    animation-delay: .2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-item-02__iI2Ve {
        display: none
    }
}

.C_AvatarEvent_contest-item-03__HgyUi {
    position: absolute;
    top: 467px;
    right: 385px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/item-03.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    animation-name: C_AvatarEvent_doongdoong-item__a7Fer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-item-03__HgyUi {
        display: none
    }
}

.C_AvatarEvent_contest-item-04__QnD3m {
    position: absolute;
    top: 908px;
    right: 425px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/item-04.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    animation-name: C_AvatarEvent_doongdoong-item__a7Fer;
    animation-delay: .3s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-item-04__QnD3m {
        display: none
    }
}

.C_AvatarEvent_contest-tv__dyAP_ {
    position: relative;
    margin-top: 59px;
    width: 1080px;
    height: 803px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/tv.png);
    background-size: contain;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-tv__dyAP_ {
        margin-top: 16px;
        width: 340px;
        height: 303px;
        background-image: url(/30th/avatar/webmain/c.avatar-contest/mo/tv.png)
    }
}

.C_AvatarEvent_contest-tv-avatar__XKRwP {
    position: relative;
    width: 288px;
    height: 364px;
    background: url(/30th/avatar/webmain/c.avatar-contest/pc/avatar.png) no-repeat 50%/contain;
    margin: 179px auto
}

.C_AvatarEvent_contest-tv-avatar__XKRwP:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(/30th/avatar/webmain/c.avatar-contest/pc/card-frame.png) no-repeat 50%/contain
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-tv-avatar__XKRwP {
        width: 129px;
        height: 163px;
        margin: 50px auto
    }
}

.C_AvatarEvent_contest-tv-my-avatar__GoUMM {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px
}

.C_AvatarEvent_contest-tv-bubble__Hes0F {
    position: absolute;
    top: 132px;
    right: 215px;
    width: 220px;
    height: 181px;
    background: url(/30th/avatar/webmain/c.avatar-contest/pc/bubble.png) no-repeat 50%/contain
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-tv-bubble__Hes0F {
        top: 26px;
        right: 26px;
        width: 110px;
        height: 92px
    }
}

.C_AvatarEvent_contest-my-avatar-button__HEYLW {
    width: 563px;
    height: 100px;
    background: url(/30th/avatar/webmain/c.avatar-contest/pc/btn-my-avatar.png) no-repeat 50%/contain;
    text-indent: -9999px;
    margin-top: 50px
}

.pc .C_AvatarEvent_contest-my-avatar-button__HEYLW:hover {
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/btn-my-avatar-hover.png)
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-my-avatar-button__HEYLW {
        width: 340px;
        height: 55px
    }
}

.C_AvatarEvent_contest-participate-button__3koa5 {
    width: 563px;
    height: 100px;
    background: url(/30th/avatar/webmain/c.avatar-contest/pc/btn-participate.png) no-repeat 50%/contain;
    text-indent: -9999px;
    margin-top: 50px
}

.pc .C_AvatarEvent_contest-participate-button__3koa5:hover {
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/btn-participate-hover.png)
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-participate-button__3koa5 {
        width: 340px;
        height: 55px;
        background-image: url(/30th/avatar/webmain/c.avatar-contest/mo/btn-participate.png);
        margin-top: 25px
    }
    .pc .C_AvatarEvent_contest-participate-button__3koa5:hover {
        background-image: url(/30th/avatar/webmain/c.avatar-contest/mo/btn-participate-hover.png)
    }
}

.C_AvatarEvent_contest-notice__vlM9I {
    margin-top: 140px;
    width: 1190px;
    height: 474px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/notice.png);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-notice__vlM9I {
        margin-top: 70px;
        width: 342px;
        height: 414px;
        background-image: url(/30th/avatar/webmain/c.avatar-contest/mo/notice.png)
    }
}

.C_AvatarEvent_contest-aqua-avatar-01__SPJxS {
    position: absolute;
    top: 1198px;
    left: 540px;
    width: 304px;
    height: 400px;
    display: flex;
    justify-content: center
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-aqua-avatar-01__SPJxS {
        display: none
    }
}

.C_AvatarEvent_contest-aqua-avatar-01__SPJxS .C_AvatarEvent_contest-aqua-avatar-textbox-01__RZvyf {
    position: absolute;
    top: -48px;
    left: -130px;
    width: 244px;
    height: 199px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/textbox-01.png);
    background-size: cover;
    background-repeat: no-repeat
}

.C_AvatarEvent_contest-aqua-avatar-01__SPJxS .C_AvatarEvent_contest-aqua-avatar-bg-01__24699 {
    position: absolute;
    bottom: 100px;
    width: 204px;
    height: 204px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/bg.png);
    background-size: cover;
    background-repeat: no-repeat
}

.C_AvatarEvent_contest-aqua-avatar-01__SPJxS .C_AvatarEvent_contest-avatar-01__vP8CN {
    position: absolute;
    bottom: 130px;
    width: 110px;
    height: 142px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/ch-01.png);
    background-size: cover;
    background-repeat: no-repeat
}

.C_AvatarEvent_contest-aqua-avatar-01__SPJxS .C_AvatarEvent_contest-aqua-01__70lQ1 {
    position: absolute;
    width: 304px;
    height: 400px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/aqua-01.gif);
    background-size: cover;
    background-repeat: no-repeat
}

.C_AvatarEvent_contest-aqua-avatar-02__iF4lM {
    position: absolute;
    top: 2326px;
    right: 462px;
    width: 308px;
    height: 400px;
    display: flex;
    justify-content: center
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-aqua-avatar-02__iF4lM {
        display: none
    }
}

.C_AvatarEvent_contest-aqua-avatar-02__iF4lM .C_AvatarEvent_contest-aqua-avatar-bg-02__8J_nd {
    position: absolute;
    bottom: 100px;
    width: 204px;
    height: 204px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/bg.png);
    background-size: cover;
    background-repeat: no-repeat
}

.C_AvatarEvent_contest-aqua-avatar-02__iF4lM .C_AvatarEvent_contest-avatar-02__idx6B {
    position: absolute;
    bottom: 130px;
    width: 104px;
    height: 152px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/ch-02.png);
    background-size: cover;
    background-repeat: no-repeat
}

.C_AvatarEvent_contest-aqua-avatar-02__iF4lM .C_AvatarEvent_contest-aqua-02__45xXf {
    position: absolute;
    width: 308px;
    height: 400px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/aqua-02.gif);
    background-size: cover;
    background-repeat: no-repeat
}

.C_AvatarEvent_contest-gift__L_zJh {
    margin-top: 156px;
    width: 1690px;
    height: 735px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/gift.png);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-gift__L_zJh {
        margin-top: 60px;
        width: 340px;
        height: 716px;
        background-image: url(/30th/avatar/webmain/c.avatar-contest/mo/gift.png)
    }
}

.C_AvatarEvent_contest-gift-announcement__Wqv7I {
    color: #807140;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    margin-top: 16px
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-gift-announcement__Wqv7I {
        width: 340px;
        font-size: 13px;
        line-height: 17px
    }
}

.C_AvatarEvent_contest-codi-section__K95dl {
    display: flex;
    flex-direction: column;
    align-items: center
}

.C_AvatarEvent_contest-current-codi__LHo2w {
    margin-top: 169px;
    width: 806px;
    height: 124px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/current-contest-codi.png);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-current-codi__LHo2w {
        margin-top: 78px;
        width: 310px;
        height: 77px;
        background-image: url(/30th/avatar/webmain/c.avatar-contest/mo/current-contest-codi.png)
    }
}

.C_AvatarEvent_contest-codi-list__kRmBG {
    display: flex;
    margin-top: 45px;
    padding-right: 40px;
    padding-left: 40px
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-codi-list__kRmBG {
        margin-top: 32px
    }
    .C_AvatarEvent_contest-codi-list__kRmBG .C_AvatarEvent_contest-codi-list-item__yYUlB:nth-child(5) {
        display: none
    }
}

.C_AvatarEvent_contest-codi-list-item__yYUlB {
    position: relative;
    width: 288px;
    height: 364px;
    overflow: hidden
}

.C_AvatarEvent_contest-codi-list-item__yYUlB+.C_AvatarEvent_contest-codi-list-item__yYUlB {
    margin-left: 40px
}

.C_AvatarEvent_contest-codi-list-item__yYUlB:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/card-frame.png);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-codi-list-item__yYUlB:last-child {
        display: none
    }
    .C_AvatarEvent_contest-codi-list-item__yYUlB {
        width: 160px;
        height: 203px
    }
}

.C_AvatarEvent_contest-codi-list-item__yYUlB.C_AvatarEvent_contest-empty__sc9_h {
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/card-back.png);
    background-size: cover;
    background-repeat: no-repeat
}

.C_AvatarEvent_contest-codi-list-item__yYUlB.C_AvatarEvent_contest-empty__sc9_h:after {
    content: none
}

@media(max-width:1280px) {
    .C_AvatarEvent_contest-codi-list-item__yYUlB.C_AvatarEvent_contest-empty__sc9_h {
        display: none
    }
    .C_AvatarEvent_contest-codi-list-item__yYUlB.C_AvatarEvent_contest-not-empty__i5hU9 {
        margin-left: 0
    }
    .C_AvatarEvent_contest-codi-list-item__yYUlB.C_AvatarEvent_contest-not-empty__i5hU9+.C_AvatarEvent_contest-codi-list-item__yYUlB.C_AvatarEvent_contest-not-empty__i5hU9 {
        margin-left: 24px
    }
}

.C_AvatarEvent_contest-codi-image__kkI3r {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 12px
}

.C_AvatarEvent_goto-contest-button__VMIHR {
    margin-top: 50px;
    width: 563px;
    height: 100px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/contest-button.png);
    background-size: contain;
    background-repeat: no-repeat
}

.pc .C_AvatarEvent_goto-contest-button__VMIHR:hover {
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/contest-button-hover.png)
}

@media(max-width:1280px) {
    .C_AvatarEvent_goto-contest-button__VMIHR {
        margin-top: 32px;
        width: 340px;
        height: 55px;
        background-image: url(/30th/avatar/webmain/c.avatar-contest/mo/contest-button.png)
    }
    .pc .C_AvatarEvent_goto-contest-button__VMIHR:hover {
        background-image: url(/30th/avatar/webmain/c.avatar-contest/mo/contest-button-hover.png)
    }
}

.C_AvatarEvent_next-event-notice__edZJm {
    margin-top: 146px;
    width: 832px;
    height: 220px;
    background-image: url(/30th/avatar/webmain/c.avatar-contest/pc/next-event-notice.png);
    background-size: contain;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_next-event-notice__edZJm {
        margin-top: 80px;
        width: 330px;
        height: 110px;
        background-image: url(/30th/avatar/webmain/c.avatar-contest/mo/next-event-notice.png)
    }
}

.C_AvatarEvent_honor-section__9uPzP {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2560px;
    padding-bottom: 104px;
    background-image: url(/30th/avatar/webmain/d.honor/pc/bg-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box
}

.C_AvatarEvent_honor-section__9uPzP.C_AvatarEvent_yet__lQoyr {
    width: 2560px;
    height: 1016px;
    background: #1c1333
}

@media(max-width:1280px) {
    .C_AvatarEvent_honor-section__9uPzP {
        width: 1280px;
        height: 1127px;
        background-image: url(/30th/avatar/webmain/d.honor/mo/bg-4.jpg)
    }
    .C_AvatarEvent_honor-section__9uPzP.C_AvatarEvent_yet__lQoyr {
        width: 1280px;
        height: 534px;
        background: #1c1333
    }
}

.C_AvatarEvent_honor-container__ONz66 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.C_AvatarEvent_honor-title__JUeip {
    margin-top: 236px;
    width: 582px;
    height: 112px;
    background-image: url(/30th/avatar/webmain/d.honor/pc/title.png);
    background-size: cover;
    background-repeat: no-repeat
}

.C_AvatarEvent_yet__lQoyr .C_AvatarEvent_honor-title__JUeip {
    margin-top: 160px
}

@media(max-width:1280px) {
    .C_AvatarEvent_honor-title__JUeip {
        margin-top: 80px;
        width: 277px;
        height: 85px;
        background-image: url(/30th/avatar/webmain/d.honor/mo/title.png)
    }
    .C_AvatarEvent_yet__lQoyr .C_AvatarEvent_honor-title__JUeip {
        margin-top: 80px
    }
}

.C_AvatarEvent_honor-notice__YPdV_ {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #fff
}

@media(max-width:1280px) {
    .C_AvatarEvent_honor-notice__YPdV_ {
        font-size: 12px;
        line-height: 9px
    }
}

.C_AvatarEvent_honor-list__yuoKa {
    display: flex;
    margin-top: 119px;
    justify-content: center
}

.C_AvatarEvent_yet__lQoyr .C_AvatarEvent_honor-list__yuoKa {
    display: none
}

@media(max-width:1280px) {
    .C_AvatarEvent_honor-list__yuoKa {
        margin-top: 62px
    }
}

.C_AvatarEvent_normal-container__rdHve .C_AvatarEvent_honor-list-item__P3fzB {
    width: auto
}

@media(max-width:1280px) {
    .C_AvatarEvent_slide-container__sarRx {
        width: 100%;
        position: relative;
        justify-content: center
    }
}

.C_AvatarEvent_slide-container__sarRx:after {
    content: "";
    position: absolute;
    bottom: 210px;
    width: 260px;
    height: 108px;
    background: url(/30th/avatar/webmain/d.honor/mo/stage.png) 50%/cover no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_slide-container__sarRx:after {
        bottom: 234px
    }
}

.C_AvatarEvent_swiper-button-prev__BIsot {
    display: none
}

@media(max-width:1280px) {
    .C_AvatarEvent_swiper-button-prev__BIsot {
        display: block;
        position: absolute;
        transform: translate(-136px, 120px);
        width: 27px;
        height: 42px;
        padding: 30px 30px 30px 0;
        z-index: 100;
        box-sizing: initial
    }
    .C_AvatarEvent_swiper-button-prev__BIsot:after {
        display: block;
        content: "";
        width: 27px;
        height: 42px;
        background: url(/30th/avatar/webmain/d.honor/mo/honor-btn-left.svg) 50%/cover no-repeat;
        opacity: 1 !important
    }
    .C_AvatarEvent_swiper-button-prev__BIsot.swiper-button-disabled:after {
        background: url(/30th/avatar/webmain/d.honor/mo/honor-btn-left-disabled.svg) 50%/cover no-repeat
    }
}

.C_AvatarEvent_swiper-button-next__4zQ6O {
    display: none
}

@media(max-width:1280px) {
    .C_AvatarEvent_swiper-button-next__4zQ6O {
        display: block;
        position: absolute;
        transform: translate(136px, 120px);
        width: 27px;
        height: 42px;
        padding: 30px 0 30px 30px;
        z-index: 100;
        box-sizing: initial
    }
    .C_AvatarEvent_swiper-button-next__4zQ6O:after {
        display: block;
        content: "";
        width: 27px;
        height: 42px;
        background: url(/30th/avatar/webmain/d.honor/mo/honor-btn-right.svg) 50%/cover no-repeat;
        opacity: 1 !important
    }
    .C_AvatarEvent_swiper-button-next__4zQ6O.swiper-button-disabled:after {
        background: url(/30th/avatar/webmain/d.honor/mo/honor-btn-right-disabled.svg) 50%/cover no-repeat
    }
}

.C_AvatarEvent_honor-list-item__P3fzB {
    display: flex;
    flex-direction: column;
    align-items: center
}

.C_AvatarEvent_honor-list-item__P3fzB+.C_AvatarEvent_honor-list-item__P3fzB {
    margin-left: 40px
}

@media(max-width:1280px) {
    .C_AvatarEvent_honor-list-item__P3fzB+.C_AvatarEvent_honor-list-item__P3fzB {
        margin-left: 0
    }
}

.C_AvatarEvent_honor-list-item-link__pDXWW {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer
}

.C_AvatarEvent_fixed-honor-nickname__s6XFf {
    display: none;
    cursor: pointer
}

@media(max-width:1280px) {
    .C_AvatarEvent_fixed-honor-nickname__s6XFf {
        display: block;
        position: absolute;
        font-size: 18px;
        color: #fff;
        text-align: center;
        font-family: Pretendard;
        font-weight: 700;
        line-height: 28px;
        text-decoration: none;
        top: 227px
    }
    .C_AvatarEvent_fixed-honor-nickname__s6XFf:visited {
        color: #fff
    }
}

.C_AvatarEvent_honor-nickname__Ltk6K {
    color: #fff;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px
}

@media(max-width:1280px) {
    .C_AvatarEvent_honor-nickname__Ltk6K {
        font-size: 18px;
        visibility: hidden
    }
}

.C_AvatarEvent_honor-avatar__5d8sn {
    position: relative;
    width: 288px;
    height: 364px;
    margin-top: 32px;
    box-shadow: 0 0 12px #000;
    border-radius: 16px
}

.C_AvatarEvent_honor-avatar__5d8sn:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 34px;
    right: 0;
    left: 0;
    opacity: .4;
    background: #f9fd73;
    filter: blur(18px)
}

.C_AvatarEvent_honor-avatar__5d8sn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/30th/avatar/webmain/d.honor/pc/frame.png) 50%/cover no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_honor-avatar__5d8sn {
        width: 182px;
        height: 230px;
        margin-top: 24px
    }
}

.C_AvatarEvent_honor-avatar-stage__65oFA {
    background: url(/30th/avatar/webmain/d.honor/pc/stage.png) bottom/388px 155px no-repeat;
    width: 387.5px;
    height: 155px;
    margin-top: -28px
}

@media(max-width:1280px) {
    .C_AvatarEvent_honor-avatar-stage__65oFA {
        display: none
    }
}

.C_AvatarEvent_honor-avatar-image__exTT4 {
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
    border-radius: 20px
}

.C_AvatarEvent_honor-bubble__oM5n9 {
    position: relative;
    width: 350px;
    max-height: 298px;
    padding: 28px 24px 30px;
    box-sizing: border-box;
    border-radius: 16px;
    background: #fff;
    color: #000;
    font-family: Pretendard;
    margin-top: 42px;
    z-index: 10;
    box-shadow: inset 0 -6px 0 0 rgba(0, 0, 0, .25)
}

.C_AvatarEvent_honor-bubble__oM5n9:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -36px;
    transform: translateX(-50%);
    display: inline-block;
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 18px 10px
}

@media(max-width:1280px) {
    .C_AvatarEvent_honor-bubble__oM5n9 {
        width: 300px;
        height: 194px;
        margin-top: 130px;
        visibility: hidden
    }
}

.C_AvatarEvent_fixed-honor-bubble__eopvK {
    display: none;
    text-decoration: none;
    cursor: pointer
}

@media(max-width:1280px) {
    .C_AvatarEvent_fixed-honor-bubble__eopvK {
        display: block;
        position: absolute;
        padding: 22px 20px 25px;
        box-sizing: border-box;
        border-radius: 16px;
        background: #fff;
        color: #000;
        font-family: Pretendard;
        top: 624px;
        z-index: 10;
        box-shadow: inset 0 -6px 0 0 rgba(0, 0, 0, .25);
        width: 300px;
        max-height: 208px
    }
    .C_AvatarEvent_fixed-honor-bubble__eopvK:before {
        content: "";
        position: absolute;
        left: 50%;
        top: -34px;
        transform: translateX(-50%);
        display: inline-block;
        border-color: transparent transparent #fff;
        border-style: solid;
        border-width: 18px 10px
    }
}

.C_AvatarEvent_honor-bubble-title__uHpmD {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap
}

@media(max-width:1280px) {
    .C_AvatarEvent_honor-bubble-title__uHpmD {
        font-size: 16px;
        line-height: 21px
    }
}

.C_AvatarEvent_honor-bubble-description__oo2g1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7
}

@media(max-width:1280px) {
    .C_AvatarEvent_honor-bubble-description__oo2g1 {
        font-size: 14px;
        margin-top: 8px;
        -webkit-line-clamp: 4
    }
}

.C_AvatarEvent_honor-teaser__sdd2H {
    margin-top: 20px;
    width: 606px;
    height: 606px;
    background-image: url(/30th/avatar/webmain/d.honor/pc/teaser.png);
    background-size: cover;
    background-repeat: no-repeat
}

.C_AvatarEvent_yet__lQoyr .C_AvatarEvent_honor-teaser__sdd2H {
    position: static;
    margin-top: -30px
}

@media(max-width:1280px) {
    .C_AvatarEvent_honor-teaser__sdd2H {
        margin-top: -60px;
        width: 300px;
        height: 300px;
        background-image: url(/30th/avatar/webmain/d.honor/mo/teaser.png)
    }
    .C_AvatarEvent_yet__lQoyr .C_AvatarEvent_honor-teaser__sdd2H {
        margin-top: -30px
    }
}

.C_AvatarEvent_footer-container__16xGQ {
    display: flex;
    flex-direction: column;
    align-items: center
}

.C_AvatarEvent_footer-notice__g2x6m {
    margin-top: 20px;
    width: 180px;
    height: 91px;
    background-image: url(/30th/avatar/webmain/e.footer/pc/footer-notice.png);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:1280px) {
    .C_AvatarEvent_footer-notice__g2x6m {
        background-image: url(/30th/avatar/webmain/e.footer/mo/footer-notice.png)
    }
}

.C_AvatarEvent_footer-notice-list__u221C {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 813px;
    margin-top: 20px;
    text-align: center;
    list-style: disc;
    color: #c1c1c1
}

@media(max-width:1280px) {
    .C_AvatarEvent_footer-notice-list__u221C {
        font-size: 12px;
        width: 328px;
        text-align: initial;
        align-items: flex-start
    }
}

.C_AvatarEvent_footer-notice-list-item__ZwhqF {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px
}

.C_AvatarEvent_css-preloader__QH_AD {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    bottom: 0;
    z-index: -1
}

.pc .C_AvatarEvent_css-preloader__QH_AD {
    content: url(/30th/avatar/webmain/b.avatar-maker/pc/avatar-maker-button-hover.png) url(/30th/avatar/webmain/b.avatar-maker/mo/avatar-maker-button-hover.png) url(/30th/avatar/webmain/c.avatar-contest/pc/contest-button-hover.png) url(/30th/avatar/webmain/c.avatar-contest/mo/contest-button-hover.png) url(/30th/avatar/maker/system-message/pc/login-button.png) url(/30th/avatar/maker/system-message/pc/make-without-login-button.png) url(/30th/avatar/maker/system-message/mo/popup.png) url(/30th/avatar/maker/system-message/pc/login-button-hover.png) url(/30th/avatar/maker/system-message/pc/make-without-login-button-hover.png)
}

.C_AvatarEvent_confetti-canvas__OdG5v {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%
}