.GameCard_game-card-component__ftFWE {
    position: relative;
    width: 100%;
    height: 100%
}

.GameCard_game-card-image__CfVmj {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1.5s;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 360px;
    height: 360px;
    position: absolute
}

.GameCard_game-card-image__CfVmj.GameCard_on__LS_4X {
    animation-name: GameCard_showAnimation__iaa2Q;
    animation-duration: 1.5s;
    opacity: 1
}

@media(max-width:1280px) {
    .GameCard_game-card-image__CfVmj {
        width: 200px;
        height: 200px
    }
}